<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Arnold Schwarzenegger</title>
  </head>
  <body>
    <section>
      <nav class="navbar">
        <h1 class="logo">Arnold</h1>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
        <div class="menu-icon">
          <div class="menu-icon-line"></div>
          <div class="menu-icon-line"></div>
          <div class="menu-icon-line"></div>
        </div>
      </nav>
    </section>
    <section>
      <div class="about-why">
        <h2>Why I love him?</h2>
        <p>
          One thing is that he and his father helped the Hungarian refugees to
          stay alive after the Russian army defeated the Hungarians during the
          1956's revolution.
        </p>
        <p>
          But the main thing is that I don't know any other people who could
          work harder for their dreams...
        </p>
        <p>
          Come on...an Austrian bodybuilder for the governor of California. What
          were the chances? And he did it.
        </p>
        <p>I wanna be a tough cookie, like Arnold! :D</p>
      </div>
    </section>
    <section class="about-arnold">
      <img src="/img/arnold-superman.jpg" alt="Arnold Superman" />
      <div class="about-text">
        <p>
          Arnold Alois Schwarzenegger (born July 30, 1947) is an
          Austrian-American actor, former bodybuilder, producer, businessman,
          and former politician who served as the 38th governor of California
          from 2003 to 2011.
        </p>
        <p>
          As of 2021, he is the most recent Republican governor of California.
          Schwarzenegger began lifting weights at the age of 15 and went on to
          win the Mr. Universe title at age 20, subsequently winning the Mr.
          Olympia contest seven times; he remains a prominent figure in
          bodybuilding, and has written many books and articles on it.
        </p>
        <p>
          The Arnold Sports Festival, considered the second-most important
          bodybuilding event after Mr. Olympia, is named after him.
        </p>
        <p>
          After retiring from bodybuilding, Schwarzenegger gained worldwide fame
          as a Hollywood action film star. Having previously appeared in the
          bodybuilding documentary Pumping Iron (1977), his breakthrough film
          was the sword-and-sorcery epic Conan the Barbarian (1982), a
          box-office hit that resulted in a sequel in 1984.[4] He then appeared
          as the title character in the critically and commercially successful
          sci-fi film The Terminator (1984), and subsequently played similar
          characters in the sequels Terminator 2: Judgment Day (1991),
          Terminator 3: Rise of the Machines (2003), Terminator Genisys (2015),
          and Terminator: Dark Fate (2019). He also starred in other successful
          action films such as Commando (1985), The Running Man (1987), Predator
          (1987), Total Recall (1990), and True Lies (1994), in addition to
          comedy films such as Twins (1988), Kindergarten Cop (1990), Junior
          (1994), and Jingle All the Way (1996), and one mixed
          action/thriller-based comedy, Red Heat (1988).[5] He is the founder of
          the film production company Oak Productions.
        </p>
        <p>
          As a Republican candidate, Schwarzenegger was first elected on October
          7, 2003, in a special recall election to replace then-Governor Gray
          Davis. He received 48.6% of the vote, 17 points ahead of Democrat
          runner-up Cruz Bustamante. He was sworn in on November 17 to serve the
          remainder of Davis' term, and was re-elected in the 2006 California
          gubernatorial election with an increased vote share of 55.9% to serve
          a full term as governor.
        </p>
        <p>
          In 2011, he reached his term limit as Governor and returned to acting.
          Schwarzenegger was nicknamed the "Austrian Oak" in his bodybuilding
          days, "Arnie" or "Schwarzy" during his acting career, and "The
          Governator" (a portmanteau of "Governor" and "Terminator") during his
          political career.
        </p>
        <p>
          He married Maria Shriver, a niece of President John F. Kennedy, in
          1986. They separated in 2011 after he admitted to having fathered a
          child with their housemaid in 1997, and their divorce was finalized in
          2017.
        </p>
        <p>Source: Wikipedia</p>
      </div>
    </section>
  </body>
</html>
