<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Arnold Schwarzenegger</title>
  </head>
  <body>
    <section>
      <nav class="navbar">
        <h1 class="logo">Arnold</h1>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
        <div class="menu-icon">
          <div class="menu-icon-line"></div>
          <div class="menu-icon-line"></div>
          <div class="menu-icon-line"></div>
        </div>
      </nav>
    </section>
    <section class="works">
      <h2>Works</h2>
      <h3>Filmography</h3>
      <p>Hercules in New York (1970)</p>
      <p>Pumping Iron (1977)</p>
      <p>The Comeback (1980)</p>
      <p>Conan the Barbarian (1982)</p>
      <p>Conan the Destroyer (1984)</p>
      <p>The Terminator (1984)</p>
      <p>Commando (1985)</p>
      <p>Raw Deal (1986)</p>
      <p>Predator (1987)</p>
      <p>Twins (1988)</p>
      <p>Total Recall (1990)</p>
      <p>Kindergarten Cop (1990)</p>
      <p>Terminator 2: Judgment Day (1991)</p>
      <p>Last Action Hero (1993)</p>
      <p>True Lies (1994)</p>
      <p>Eraser (1996)</p>
      <p>Jingle All the Way (1996)</p>
      <p>Batman & Robin (1997)</p>
      <p>End of Days (1999)</p>
      <p>The 6th Day (2000)</p>
      <p>Collateral Damage (2002)</p>
      <p>Terminator 3: Rise of the Machines (2003)</p>
      <p>The Expendables (2010)</p>
      <p>The Expendables 2 (2012)</p>
      <p>The Last Stand (2013)</p>
      <p>Escape Plan (2013)</p>
      <p>The Expendables 3 (2014)</p>
      <p>Sabotage (2014)</p>
      <p>Maggie (2015)</p>
      <p>Terminator Genisys (2015)</p>
      <p>Aftermath (2017)</p>
      <p>Terminator: Dark Fate (2019)</p>
      <h3>Awards</h3>
      <p>Seven-time Mr. Olympia winner</p>
      <p>Four-time Mr. Universe winner</p>
      <p>1969 World Amateur Bodybuilding Champion</p>
      <p>1977 Golden Globe Award winner</p>
      <p>
        Medal for Humanitary Merit of the Austrian Albert Schweitzer Society
        (2011)[279]
      </p>
      <p>Star on the Hollywood Walk of Fame</p>
      <p>International Sports Hall of Fame (class of 2012)[280]</p>
      <p>
        Public art mural portrait "Arnold Schwarzenegger" (2012) by Jonas Never,
        Venice, Los Angeles[281]
      </p>
      <p>WWE Hall of Fame (class of 2015)[282][283]</p>
      <p>
        Schwarzenegger Institute for State and Global Policy (part of the USC
        Price School of Public Policy at the University of Southern California)
        named in his honor.[263]
      </p>
      <p>
        Arnold's Run ski trail at Sun Valley Resort named in his honor.[284] The
        trail is categorized as a black diamond, or most difficult, for its
        terrain.
      </p>
      <p>
        "A Day for Arnold" on July 30, 2007, in Thal, Austria. For his 60th
        birthday, the mayor sent Schwarzenegger the enameled address sign (Thal
        145) of the house where Schwarzenegger was born, declaring "This belongs
        to him. No one here will ever be assigned that number again".[283][285]
      </p>
      <p>Inkpot Award[286]</p>
    </section>
  </body>
</html>
